<html>
	<head>
		<title>Nasa</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
	  	<div class="jumbotron">
				<div class="page-header">
  				<center><h2>Nasa Picture Of The Day: {{title}}</h2></center>
				</div>
				<img src="{{imageLink}}" alt="error" width="100%">
				<center><p><h3><b><u>Image Description</u></b></h3></p></center>
				<p><h3>{{explanation}}</h3></p>
			</div>
		</div>
  </body>
</html>
